* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: url(https://bit.ly/33Iv7Wi);
  background-position: cover;
  background-repeat: no-repeat;
  color: white;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
nav ul li {
  padding: 50px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}
nav a:hover {
  background-color: deeppink;
}
#me {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  margin-left: 50px;
}

#me h1 {
  margin-left: 10px;
}
#rose {
  padding-top: 50px;
  margin: 0 auto;
  padding-left: 100px;
  border-radius: 10px;
}

#rose1 {
  border-radius: 40%;
}
#quote > p {
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  margin: 0, auto;
  margin-top: 20px;
}
figcaption {
  margin-top: 10px;
  font-size: 20px;
}
.btn {
  font-size: 50px;
  color: deeppink;
  text-decoration: none;
}
#project {
  margin-left: 10px;
  display: float;
  float: left;
  color: white;
}

#project a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  border: 2px solid #fff;
  display: block;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

#project a:hover {
  background: #fff;
  color: #000;
  transition: all 0.5s ease;
}
figure {
  margin-left: 100px;
  margin-right: 50px;
}
#img {
  display: flex;
}
#img > p {
  margin: 0 auto;
  font-size: 20px;
  margin-top: 50px;
  margin-right: 20px;
}
#languages {
  margin-left: 100px;
  margin-top: 50px;
}
#languages > h2 {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#languages > ul > li {
  font-size: 20px;
  margin-top: 10px;
}
table {
  border-collapse: collapse;
  border: 1px solid pink;
  padding: 20px;
  margin-top: 40px;
  margin-left: 200px;
}
td,
th {
  font-size: 20px;
  padding: 10px;
}
td {
  color: white;
  padding: 10px;
}
table,
th,
td {
  border: 1px solid deeppink;
}
#about {
  font-size: 20px;
}
#skills {
  text-align: left;
  margin-top: 40px;
  margin-left: 50px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}
#skills > p {
  font-size: 25px;
  color: crimson;
}
#skills > ol > li {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}
#contacts a {
  color: white;
}
#contacts ul li {
  padding: 10px;
}

#contacts ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 auto;
}
#contacts a:hover {
  background-color: deeppink;
}
input[type="text"] {
  border: 2px solid maroon;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  align-items: center;
}

input[type="number"] {
  border: 2px solid maroon;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  align-items: center;
}

.form {
  width: 500px;
  margin: 0 auto;
}
#reach {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
